{% extends 'base.html' %}

{% block title %}Mis Facturas{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">Hola otra vez {{ username }}!</a>
        <div class="d-flex">
            <a href="{{ url_for('logout') }}" class="btn btn-danger">Salir</a>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="container-box">
        <h1 class="display-title">Mis Facturas</h1>
        {% if facturas %}
            <table class="table table-dark table-hover mt-4">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for factura in facturas %}
                    <tr>
                        <td>{{ factura.fecha_vto }}</td>
                        <td>${{ factura.monto_total }}</td>
                        <td>
                            {% if factura.pagado %}
                                <span class="badge bg-success"><a href="#">Pagada</a></span><a href="{{ url_for('delete', username=username, id=factura.id) }}">❌</a>
                            {% else %}
                                <span class="badge bg-danger"><a href="#" style="color: white; text-decoration: none;">No paga</a></span><a href="{{ url_for('delete', username=username, id=factura.id) }}" style="margin-left: 8px;">❌</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay facturas para mostrar.</p>
        {% endif %}


        <!-- Botón de Salir adicional en la página -->
        <div class="text-center mt-4">
            <a href="{{ url_for('add') }}" class="btn btn-success btn-lg">Añadir Factura</a>
            <a href="#" class="btn btn-warning btn-lg">Modificar Factura</a>
        </div>
    </div>
</div>
{% endblock %}